@tailwind base;
  @tailwind components;
  @tailwind utilities;

html{
  background-color: #2e3440;
}


.w-160{
  width: 40rem;
}

.caret-underscore{
  caret-shape: underscore;
}

.caret-block{
  caret-shape: block;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


